@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Whisper&display=swap');

.nav-bar {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 4px 20px -2px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    border: 1px solid transparent;
}

.nav-bar-item {
    display: flex;
    font-family: arial, Helvetica Neue, sans-serif; 
    overflow: hidden;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 14px 0;
    color: #686b78;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

.nav-bar-item:hover {
    color: rgb(176, 0, 0);
}

.nav-bar-item svg {
    padding-bottom: 2px;
    margin-right:8px;
}

.nav-bar-item:hover svg {
    fill: rgb(176, 0, 0);
}

#nav-item-initial {
    margin-left: 75px;
}

.nav-location {
    display: flex;
    margin-left: auto; /* Pushes the location div to the right */
    font-family: arial, Helvetica Neue, sans-serif; 
    padding: 10px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
    color: #686b78;
}

.location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(209, 209, 209);
    padding: 8px 30px;
    border-radius: 20px;
    overflow: hidden;
}

.location svg {
    width: 20px;
    height: 20px;
    fill: #686b78;
}

.location:hover svg {
    fill: rgb(176, 0, 0);
}

.arrow-icon {
    width: fit-content;
    height: fit-content;
}

.location-icon {
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: white;
    margin-right: 20px;
}
