.swipe-item{
    min-width: 250px;
    min-height: 250px;
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    border: 1px solid rgb(192, 192, 192);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 30px;
    margin-left: 20px;
    margin-top: 2px;
    position: relative;
    margin-bottom: 2px;
}
.swipe-item-title{
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-self: end;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
    color: white;
}

.swipe-item-title span{
    width: 70%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

img {
    width: 250px;
    height: 300px;
    object-position: center;
    object-fit: cover;
    border-radius: 20px;
}

p {
    font-size: 1.1rem;
    padding: 10px;
    text-align: center;
}

.green-tick {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: white;
    color: white;
    background-color:#4CAF50;
    border-radius: 0px 20px 0px 5px;
    right:0px;
}

